DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=*

POSTGRES_DB=randompeople
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

INITIAL_LOAD_COUNT=1000
PEOPLE_PER_PAGE=50
RANDOMDATATOOLS_URL=https://api.randomdatatools.ru/
